
:root {
    --nationalgeographic_color : #ffcc00;
    --title_secundary: #555555;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    /*# font-size: 62.5%; <-- 1 rem = 10px  */
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Global */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: black;
    margin-bottom: 5rem;
}

p {
    line-height: 1.5;
}

* {
    text-decoration: none;
}

img {
    width: 100%;
}

header {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

header p {
    margin-top: 2rem;
    font-size: 1.5rem;
}

main {
    max-width: 80%;
    margin: 0 auto;
    color: white;
}

h4 {
    font-size: 3rem;
    margin: 1rem 0;
}

/** Utilities */

.line-yellow__text {
    border-bottom: 0.2rem solid var(--nationalgeographic_color);
}

/** nav */
nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    letter-spacing: 1px;
    padding: 0 10rem;
}

@media (max-width: 1200px) {
    nav {
        padding: 0 0 0 1rem;
    }      
}

nav a {
    color: black;
}

.nav__links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav__login {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav__logo {
    min-width: 8rem;
}

.link__subs {
    background-color: #ffcc00;
    padding: 23px;
}

.main-news,
.segundary-news {
    margin-top: 1rem;
    margin-bottom: 6rem;
}

.main-news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-new {
    padding: 0 1.5rem;
    margin-top: -10rem;
}

.main-new h3 {
    font-size: 1rem;
}

.main-new p {
    font-weight: bold;
    font-size: 2rem;
}

.segundary-news-text,
.extra-news-text {
    padding: 1rem;
}


.segundary-news {
    color: black;
    background-color: white;
}

.segundary-news-text h3 {
    color: var(--title_secundary);
}
.segundary-news-text p {
    font-size: 1.5rem;
    font-weight: bold;
}

.extra-news-text p {
    font-weight: bold;
}

/* .extra-new {
    border: 1px solid red;
} */

.extra-new__img {
    max-width: 5rem;
}

.news-flex {
    display: flex;
    flex-direction: row-reverse;
}

.news-container {
    width: 65%;
}

.extra-news {
    width: 35%;
}

.secundary-news-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.extra-new {
    display: flex;
    align-items: center;
}

.extra-news-text h3 {
    font-weight: 300;
    letter-spacing: 0.3rem;
    margin-left: 1rem;
}

.line-yellow {
    margin-top: 1rem;
    width: 5rem;
    height: 0.2rem;
    background-color: var(--nationalgeographic_color);
}

.extra-news__title h4 {
    font-size: 3rem;
    margin: 0;
}

.extra-news__titles {
    padding-left: 1rem;
    border-left: 0.3rem solid var(--nationalgeographic_color);
}

@media (max-width: 768px) {
    nav a {
        display: none;
    }

    nav {
        padding: 0.5rem 0;
    }

    main {
        width: 95%;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header p {
        text-align: center;
        font-size: 1rem;
    }

    .nav__logo {
        margin-left: 1rem;
    }

    .news-flex {
        flex-direction: column;
    }

    .news-container {
        width: 100%;
    }

    .main-news {
        margin-bottom: 3rem;
    }

    .main-new p {
        font-size: 1.5rem;
    }

    .segundary-news {
        margin-bottom: 1rem;
    }

    .secundary-news-container {
        margin-top: 0;
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .extra-news {
        width: 100%;
    }

    .extra-news__titles {
        display: flex;
        gap: 1rem;
    }
}