:root {
    --bg : #f4f9fc;
    --secundary : #ceeaf4;
    --font-color: #0f1b61;

    --font: 'Staatliches', cursive;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    color: var(--font-color);
    background-color: var(--bg);
    font-family: var(--font);
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
}

header {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto 5rem;
}

@media (max-width: 768px) {
    header {
        display: flex;
    }

    .presentation h1 {
        padding: 1rem;
    }
}

main {
    background-color: var(--secundary);
    border-radius: 2rem;
    margin: auto 5rem;
}

h2 {
    font-size: 2rem;
}

footer {
    padding: 1rem;
    background-color: var(--font-color);
}

footer p {
    color: var(--bg);
    text-align: center;
}

a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    border: 2px solid var(--font-color);
    border-radius: 2rem;
    font-weight: bold;
}

a:first-of-type {
    margin-right: 1rem;
}

a:last-of-type {
    margin-left: 1rem;
}

.contact {
    margin-bottom: 2.5rem;
}

.presentation h1 {
    background-color: var(--secundary);
    font-size: 5rem;
    text-align: center;
    border-radius: 2rem;
}

.biography, .contact {
    padding: 2rem;
}

