:root {
    --bg_color : #F6F6F6;
    --primary_color : #A2D5C6;
    --segundary_color : #CFFFE2;
    --text_color : #000000;
}

body{
    font-family: arial;
}
header{
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #dedede;
    border-radius: 10px;
}
input{
    margin-right: 10px;
    padding: 5px 10px;
}

input:focus {
    background-color: #000000;
    color: white;
}

button{
    background-color: black;
    color:white;
    padding: 5px 10px;
    border:none;
    cursor: pointer;
    border-radius: 100px;
}

button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

ul {
  list-style: none; /* Elimina los puntos */
  padding: 0 10px;

}

li {
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 10px;
    background-color: white;
}

#taskListPersonal li {
    border-bottom: 5px solid var(--primary_color);
    border-left: 5px solid var(--primary_color);
}

#taskListProfessional li {
    border-bottom: 5px solid var(--segundary_color);
    border-left: 5px solid var(--segundary_color);
}

p {
    margin: 0;
}

.alert-error{
    color:red;
    font-size: 10px;
}

.tasks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--bg_color);
    color: var(--text_color);
    margin-top: 10px;
    border-radius: 10px;
}

.tasks ul {
    text-align: center;
}

.container {
    display: flex;
    padding: 15px;
    gap: 50px;
}

.container_add {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.container_add p {
    grid-column: 2 / 3;
}

.container_add input {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.container button {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.container_add small {
    padding-top: 10px;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

